* {
  box-sizing: border-box;
  margin: 0;
}
body {
  text-align: center;
  height: 100vh;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-tracker-title {
  line-height: 2.5rem;
  font-size: 32px;
  margin-bottom: 30px;
}
