* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.app {
  margin-top: 100px;
}
.expense-tracker-title {
  line-height: 2.5rem;
  font-size: 32px;
  margin-bottom: 30px;
}
